<html>
  <head th:replace="~{menu :: head}"></head>
  <div th:replace="~{menu :: menu}"></div>

  <body
    style="
      text-align: center;
      display: grid;
      justify-content: center;
      align-items: top;
    "
  >
    <div class="container">
      <h1 style="text-align: center">ANÁLISE DE TRANSAÇÕES SUSPEITAS</h1>
      <div>
        <form form method="POST" th:action="@{/analisar}">
          <input type="month" name="mesEAno" />
          <button
            class="btn btn-outline-secondary"
            type="submit"
            id="inputGroupFileAddon04"
          >
            Analisar
          </button>
        </form>
      </div>
    </div>
    <div class="container">
      <h2 style="text-align: center" class="mt-2">TRANSAÇÕES SUSPEITAS</h2>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th style="text-align: center" colspan="3" scope="col">ORIGEM</th>
            <th style="text-align: center" colspan="3" scope="col">DESTINO</th>
            <th
              rowspan="2"
              scope="col"
              class="align-middle"
              style="text-align: center"
            >
              VALOR
            </th>
          </tr>
          <tr>
            <th scope="col">BANCO</th>
            <th scope="col">AGENCIA</th>
            <th scope="col">CONTA</th>
            <th scope="col">BANCO</th>
            <th scope="col">AGENCIA</th>
            <th scope="col">CONTA</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="transacao : ${transacoes}">
            <td><span th:text="${transacao.bancoDeOrigem}">banco</span></td>
            <td><span th:text="${transacao.agenciaDeOrigem}">agencia</span></td>
            <td><span th:text="${transacao.contaDeOrigem}">conta</span></td>
            <td><span th:text="${transacao.bancoDeDestino}">banco</span></td>
            <td>
              <span th:text="${transacao.agenciaDeDestino}">agencia</span>
            </td>
            <td><span th:text="${transacao.contaDeDestino}">conta</span></td>
            <td>
              <span
                th:text="${'R$ '+#numbers.formatDecimal(transacao.valor,3,'POINT',2,'COMMA')}"
                >valor</span
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
	<div class="container">
		<h2 style="text-align: center" class="mt-2">CONTAS SUSPEITAS</h2>
		<table class="table table-striped table-bordered">
		  <thead>
			<tr>
			  <th scope="col">BANCO</th>
			  <th scope="col">AGENCIA</th>
			  <th scope="col">CONTA</th>
			  <th scope="col">VALOR MOVIMENTADO</th>
			  <th scope="col">TIPO DE MOVIMENTAÇÃO</th>
			</tr>
		  </thead>
		  <tbody>
			<tr th:each="conta : ${contasSuspeitas}">
			  <td><span th:text="${conta.banco}">banco</span></td>
			  <td><span th:text="${conta.agencia}">agencia</span></td>
			  <td><span th:text="${conta.conta}">conta</span></td>
			  <td>
				<span
				  th:text="${'R$ '+#numbers.formatDecimal(conta.valor,3,'POINT',2,'COMMA')}"
				  >valor</span
				>
			  </td>
			  <td><span th:text="${conta.tipo}">banco</span></td>
			</tr>
		  </tbody>
		</table>
	  </div>
    <div class="container">
      <h2 style="text-align: center" class="mt-2">AGENCIAS SUSPEITAS</h2>
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th scope="col">BANCO</th>
          <th scope="col">AGENCIA</th>
          <th scope="col">VALOR MOVIMENTADO</th>
          <th scope="col">TIPO DE MOVIMENTAÇÃO</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="agencia : ${agenciasSuspeitas}">
          <td><span th:text="${agencia.banco}">banco</span></td>
          <td><span th:text="${agencia.agencia}">conta</span></td>
          <td>
          <span
            th:text="${'R$ '+#numbers.formatDecimal(agencia.valor,3,'POINT',2,'COMMA')}"
            >valor</span
          >
          </td>
          <td><span th:text="${agencia.tipo}">banco</span></td>
        </tr>
        </tbody>
      </table>
      </div>
  </body>
</html>
