<html>

<head th:replace="~{menu :: head}"></head>

<body style="
      text-align: center;
      display: grid;
      justify-content: center;
      align-items: top;
    ">
    <div th:replace="~{menu :: menu}"></div>
	<div>
		<h1>IMPORTAR TRANSAÇÕES</h1>
		<form method="POST" th:action="@{/importarArquivo}" enctype="multipart/form-data">
			<div class="input-group" style="padding: 1em 30vw">
				<input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04"
					aria-label="Upload" name="arquivo" />
			</div>
			<button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04">
				Enviar
			</button>
		</form>
		<div th:text="${informacoesDoArquivo}" class="alert alert-success d-flex align-items-center" role="alert"
			style="width: fit-content; margin: 0 auto"></div>
		<div th:text="${erroNoUpload}" class="alert alert-danger d-flex align-items-center" role="alert"
			style="width: fit-content; margin: 0 auto"></div>
		<div th:text="${erroCampoVazio}" class="alert alert-danger d-flex align-items-center" role="alert"
			style="width: fit-content; margin: 0 auto"></div>
		<div th:text="${erroDatasDiferentes}" class="alert alert-danger d-flex align-items-center" role="alert"
			style="width: fit-content; margin: 0 auto"></div>
	</div>
	<script defer>
		const divSucesso = document.querySelector("body > div > div.alert.alert-success.d-flex.align-items-center");
		if (divSucesso.textContent.length === 0) {
			divSucesso.style.background = "none";
			divSucesso.style.border = "none";
		}

		const divFalhou = document.querySelector("body > div > div:nth-child(4)");
		if (divFalhou.textContent.length === 0) {
			divFalhou.style.background = "none";
			divFalhou.style.border = "none";
		}

		const erroDados = document.querySelector("body > div > div:nth-child(5)")
		if (erroDados.textContent.length === 0) {
			erroDados.style.background = "none";
			erroDados.style.border = "none";
		}

		const erroDatas = document.querySelector("body > div > div:nth-child(6)")
		if (erroDatas.textContent.length === 0) {
			erroDatas.style.background = "none";
			erroDatas.style.border = "none";
		}
	</script>
</body>

</html>