<html>
  <head th:replace="~{menu :: head}"></head>
  <body style="text-align: center; display: grid; justify-content: center">
    <div th:replace="~{menu :: menu}"></div>
    <div>
      <h1 style="padding: 1em">IMPORTAÇÕES REALIZADAS</h1>
    </div>
    <div class="card mb-3" style="height: fit-content">
      <table class="table table-striped" style="margin-bottom: 0px">
        <thead>
          <tr>
            <th scope="col">DATA TRANSAÇÕES</th>
            <th scope="col">DATA IMPORTAÇÃO</th>
            <th scope="col">OPÇÕES</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="objetoComDataCorreta : ${objetosComDatasCorretas}">
            <td>
              <span
                th:text="${#temporals.format(objetoComDataCorreta.dataDaTransacao, 'dd/MM/yyyy')}"
              >
                DATA TRANSAÇÕES
              </span>
            </td>
            <td>
              <span
                th:text="${#temporals.format(objetoComDataCorreta.dataHoraDaInclusao, 'dd-MM-yyyy - HH:mm:ss')}"
              >
                DATA IMPORTAÇÃO
              </span>
            </td>
            <td>
              <form
                method="POST"
                th:object="${objetoComDataCorreta}"
                th:action="@{/importacoes/detalhar}"
              >
                <button
                  th:value="${objetoComDataCorreta.dataDaTransacao}"
                  th:name="data"
                  type="submit"
                  class="btn btn-info"
                >
                  Detalhar
                </button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
